
*{
    padding: 0px;
    margin: 0px;
    font-family: Quicksand;
}

body{
    background: rgb(0, 0, 0);
    /* background: radial-gradient(at 65.92735945809036% 73.99957392732941%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 1) 0%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 0) 100%), radial-gradient(at 87.86523179353583% 91.61160449247639%, hsla(246.89655172413794, 100%, 17.058823529411764%, 1) 0%, hsla(246.89655172413794, 100%, 17.058823529411764%, 0) 100%), radial-gradient(at 63.55460025473965% 14.82174426640781%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 32.93599428478069% 62.96414562818819%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 1) 0%, hsla(229.72972972972974, 94.87179487179486%, 22.941176470588236%, 0) 100%);             */
    /* background: radial-gradient(at 18.394097720348256% 93.82604067858217%, hsla(244.04494382022472, 100%, 17.45098039215686%, 1) 0%, hsla(244.04494382022472, 100%, 17.45098039215686%, 0) 100%), radial-gradient(at 9.767882036167519% 67.02584723518474%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 21.29700092621185% 39.24086557357085%, hsla(266.11764705882354, 100%, 50%, 1) 0%, hsla(266.11764705882354, 100%, 50%, 0) 100%), radial-gradient(at 28.568258516943203% 78.29833899781455%, hsla(244.04494382022472, 100%, 17.45098039215686%, 1) 0%, hsla(224, 100%, 17%, 0) 100%), radial-gradient(at 62.613107777180744% 48.01873376991337%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 28.898711683224178% 1.3205920910871694%, hsla(266.11764705882354, 100%, 50%, 1) 0%, hsla(266.11764705882354, 100%, 50%, 0) 100%), radial-gradient(at 30.64763054442374% 80.09707885793851%, hsla(244.04494382022472, 100%, 17.45098039215686%, 1) 0%, hsla(244.04494382022472, 100%, 17.45098039215686%, 0) 100%), radial-gradient(at 99.10573031364444% 27.658774253025165%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 26.292978875300555% 13.33487876474817%, hsla(266.11764705882354, 100%, 50%, 1) 0%, hsla(266.11764705882354, 100%, 50%, 0) 100%), radial-gradient(at 33.51454582084623% 3.6756035071988213%, hsla(244.04494382022472, 100%, 17.45098039215686%, 1) 0%, hsla(244.04494382022472, 100%, 17.45098039215686%, 0) 100%), radial-gradient(at 79.9462885622961% 27.348310931408836%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 76.44496527244307% 83.68344121524076%, hsla(266.11764705882354, 100%, 50%, 1) 0%, hsla(266.11764705882354, 100%, 50%, 0) 100%);             */
    background-image: radial-gradient(at 6.010033509866153% 12.163624195228206%, hsla(183.71681415929203, 59.78835978835979%, 62.94117647058823%, 1) 0%, hsla(183.71681415929203, 59.78835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 27.262324221603997% 65.1059057420316%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 40.64661376424829% 38.03547065134498%, hsla(246.95121951219514, 89.1304347826087%, 36.07843137254902%, 1) 0%, hsla(246.95121951219514, 89.1304347826087%, 36.07843137254902%, 0) 100%), radial-gradient(at 62.57561617540528% 2.4340560412775325%, hsla(227.41935483870967, 93.93939393939394%, 12.941176470588234%, 1) 0%, hsla(227.41935483870967, 93.93939393939394%, 12.941176470588234%, 0) 100%), radial-gradient(at 4.210373031251335% 63.72295433012554%, hsla(183.71681415929203, 59.78835978835979%, 62.94117647058823%, 1) 0%, hsla(183.71681415929203, 59.78835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 35.760013490085264% 43.148283238279795%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 70.9215600919856% 56.349572177602305%, hsla(246.95121951219514, 89.1304347826087%, 36.07843137254902%, 1) 0%, hsla(246.95121951219514, 89.1304347826087%, 36.07843137254902%, 0) 100%), radial-gradient(at 55.279592417914934% 89.93150693826313%, hsla(227.41935483870967, 93.93939393939394%, 12.941176470588234%, 1) 0%, hsla(227.41935483870967, 93.93939393939394%, 12.941176470588234%, 0) 100%), radial-gradient(at 51.70559760224847% 89.02458042380141%, hsla(183.71681415929203, 59.78835978835979%, 62.94117647058823%, 1) 0%, hsla(183.71681415929203, 59.78835978835979%, 62.94117647058823%, 0) 100%), radial-gradient(at 97.80964578855232% 7.815507258696686%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 38.65036920364064% 33.365150556008835%, hsla(246.95121951219514, 89.1304347826087%, 36.07843137254902%, 1) 0%, hsla(246.95121951219514, 89.1304347826087%, 36.07843137254902%, 0) 100%), radial-gradient(at 12.373275006600814% 64.08287731345106%, hsla(227.41935483870967, 93.93939393939394%, 12.941176470588234%, 1) 0%, hsla(227.41935483870967, 93.93939393939394%, 12.941176470588234%, 0) 100%);
    height: 90vh;


}

a{
    color: #006c91;
}

a:visited{
    color: #78ddff;
}

a:hover{
    color: #555555;
}


.alert_green{
    color:green;
}

.alert_red{
    color:red;
}

/* Tablas en general ...........................................*/
table{
    text-align: center;
    width: 100%;
    border: 1px solid transparent;
    
    
}

td{
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; ; */
    padding: 2px;
    border-radius: 5px;
    /* background-color: #EEEEEE */
}

td:first-child{
    background-color: #7FA1C3;
    font-size: large;
    /* font-weight: bold; */
    border-radius: 5px;
    

}

tr:first-child {
    min-width: 40px;
    background-color: #7FA1C3;
    
}
tr{

    background-color: #eaf1f8;
    
}


.thumb{
    width: 100px;
}

#container{
    width: 90%;
    margin: 5% auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/*Header*/
#header{
    height: 145px;
    background: #F0F0F0;
    
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Quicksand;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}


/*Menu*/
#menu{
    clear:both;
    background: #222;
    color:white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}



#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}


#menu a{
    display: block;
    color:white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;

}

#menu a:hover{
    background: #01B1EA;
}


/*content*/
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*barra lateral*/

#lateral{
    width: 22%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    /*border: 1px solid black;*/
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    /* border: 1px solid red;*/
}


#lateral h3{
    display: block;
    color:#222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;

}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Formularios*/

.form_container{
    width: 50%;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,textarea
{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;    
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #CCC inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus
{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}

.button{
    background: #25832d;
    color: rgb(231, 231, 231) !important;
    text-decoration: none;
}

.button-small{
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}


.button-gestion{
    margin-top: 5px;
    margin-bottom: 5px;

}


.button-red{
    background: rgb(158, 0, 0);
    border: 1px solid #cf1717;
}


.categoria{
    width: 500px;
    margin-left: 100px;


}

.btn {
    width: 90px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 1px;
    border-radius: 1px;
}

.edit-btn {
    background-color: #4CAF50; /* Color verde */
    color: white;
}

.delete-btn {
    background-color: #f44336; /* Color rojo */
    color: white;
}

.btn i {
    margin-right: 5px;
}

.btn:hover {
    opacity: 0.8;
}


label,
input[type="button"],
input[type="submit"],
button{
    display: block;
    width: 95%;
    margin-top: 10px;
}


/*Central*/
#central{
    width: 72%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

/*Productos*/
.product{
    width: 30%;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    
}

.product a{
    color: black;
    text-decoration: none;
}

.product a:hover{
    color:#555;
}

.product img{
    height: 170px;
    margin-bottom: 10px;
}


.img_carrito{
    height: 80px;
    display: block;
    margin: 10px auto;
}




.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}



 .detail-product{
    width: 100%;

 }

 #detail-product .image{
    display: block; /*porque las imagenes son imagenes en linea */
    width: 47%;
    float: left;

 }

 #detail-product img{
    display: block;
    width: 100%;
    float: left;
 }

 #detail-product .data{
    width: 50%;
    float: right;
 }

 #detail-product .button{
    width: 200px;
    text-align: center;
 }

 #detail-product .description{
    margin-bottom: 20px;
 }

 #detail-product .price{
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
 }

/*footer*/

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
    color: white;
    background: #222222;
    border-top: 5px solid #01B1EA;
}


/* Carrito */

.total-carrito{
    width: 320PX;
    float: right;
}


.total-carrito h3{
    display: block;
    float: left;
    margin-top: 5px;
}


.button-pedido{
    display: block;
    float: right;
    width: 100px;
}